.pagination
    a.pagination-item.pagination-item_previous(href="#") Назад
    a.pagination-item.pagination-item_selected(href="#") 1
    a.pagination-item(href="#") 2
    a.pagination-item.pagination-item_next(href="#") Вперед
