@import "../../sass/variables"

.cart
  display: grid
  grid-auto-flow: column
  align-items: center
  grid-gap: $gap_small_mid

  .cart-text
    color: $font2_color_light_max
    font-size: $font_size_large

  .cart-logo
    width: $icon_size_small
    height: $icon_size_small