.cart
    .cart-info(href="info.html")
        span.cart-itemsAmount 5
        span.cart-price Корзина
        img.cart-logo(src="icons/002-shopping-cart-empty-side-view.svg")
    .cart-detail
        .cart-header
            span.cart-text В корзине:
            a.cart-link(href="info.html")
                img.svg.cart-open(src="icons/025-right-arrow.svg")
        .cart-list
            include cartItem/cartItem
            include cartItem/cartItem
            include cartItem/cartItem
            include cartItem/cartItem
            include cartItem/cartItem
        .cart-summary
            .cart-totalAmount
                .cart-title Товаров:
                .cart-value 5
            .cart-totalPrice
                .cart-title Итого:
                .cart-value 32 782 ₽
        a.cart-checkout(href="info.html") Оформить заказ
