.cart
    a.cart-info(href="info.html")
        span.cart-itemsAmount 5
        span.cart-price 32 782 ₽
        img.cart-logo(src="icons/002-shopping-cart-empty-side-view.svg")
    .cart-details
        .cart-header
            img.cart-logo(src="icons/002-shopping-cart-empty-side-view.svg")
            span.cart-text Корзина
            img.svg.cart-open(src="icons/025-right-arrow.svg")
        .cart-list
            include cartItem/cartItem
            include cartItem/cartItem
            include cartItem/cartItem
            include cartItem/cartItem
            include cartItem/cartItem
        .cart-summary
            .cart-totalAmount
                .cart-title Товаров:
                .cart-value 5
            .cart-totalPrice
                .cart-title Итого:
                .cart-value 32 782 ₽
        a.cart-checkout(href="info.html") Оформить заказ
