@import "../../sass/variables"

.cart
  position: relative
  display: grid
  grid-gap: $gap_small_mid
  color: $color2_light_mid
  text-decoration: none
  cursor: pointer
  &:hover
    .cart-header
      background-color: $color2_dark_low
      .cart-price
        color: $color
    .cart-detail
      padding-top: $padding
      height: auto
      opacity: 1

  .cart-header
    position: relative
    display: grid
    grid-auto-flow: column
    grid-gap: $gap_small_mid
    align-items: center
    justify-content: end
    padding: $padding_small
    background-color: $color2_dark
    transition: $animation_transition
    text-decoration: none


    .cart-itemsAmount
      position: absolute
      top: -11px
      right: -11px
      display: grid
      align-content: center
      justify-content: center
      background-color: $color
      color: $color2
      width: $icon_size_small - 6px
      height: $icon_size_small - 6px
      border: 2px solid $color2
      text-transform: uppercase
      font-weight: bold

    .cart-logo
      width: $icon_size_small
      height: $icon_size_small

    .cart-price
      font-size: $font_size_large
      justify-self: end
      transition: $animation_transition
      color: $color2_light_mid

  .cart-detail
    position: absolute
    top: 45px
    right: 0
    height: 0
    opacity: 0
    overflow: hidden
    z-index: 100
    transition: $animation_transition + 0.3
    background-color: $color2_dark_low
    display: grid
    grid-gap: $gap_small

    .cart-list
      @import 'cartItem/cartItem'

    .cart-title
    .cart-value
      font-weight: bold
      color: $color

    .cart-checkout
      padding: $padding_small
      background-color: $color
      color: $color2_light_high
      text-transform: uppercase
      text-align: center
      transition: $animation_transition
      text-decoration: none
      &:hover
        background-color: $color_dark

    .cart-summury
      display: grid
      grid-auto-flow: column
      justify-content: space-between
      padding: $padding
      background-color: $color2_dark_mid

      .cart-totalAmaunt,
      .cart-titalPrice
        display: grid
        grid-auto-flow: column
        grid-gap: $gap_small_max
        justify-content: start
        align-items: center




