.doorOptions
    h3.doorOptions-title Варианты исполнения
    .doorOptions-body
        .doorOptions-option
            h5.doorOptions-body-title Выберите цветовое решение:
            .doorOptions-list
                img.doorOptions-img(src='img/itemFilter.jpg')
                img.doorOptions-img(src='img/itemFilter.jpg')
                img.doorOptions-img(src='img/itemFilter.jpg')
        .doorOptions-option
            h5.doorOptions-body-title Выберите вариант остекления:
            .doorOptions-list
                img.doorOptions-img(src='img/itemFilter.jpg')
                img.doorOptions-img(src='img/itemFilter.jpg')
                img.doorOptions-img(src='img/itemFilter.jpg')