@import "../../sass/variables"

@mixin showAll
    .showAll
        display: grid
        grid-gap: $gap_small_mid

        .showAll-body
            display: grid
            grid-gap: $gap_small_mid
            overflow: hidden

        .showAll-button
            color: $color2_light
            text-decoration: underline
            text-decoration-style: dashed
            cursor: pointer
            transition: $animation_transition
            &:hover
                color: $color

        @content