.advantage
  display: grid
  grid-auto-flow: column
  grid-gap: 40px

  .advantage-info
    display: grid
    align-content: start
    grid-gap: 20px

  .advantage-image
    width: 100px
    height: 100px