section.advantage
    .advantage-info
        h2.advantage-title Гарантия
        span.advantage-text Цены производителя
    //img.advantage-image(src="icons/020-machine-drill.svg")
    img.advantage-image(src="icons/018-door.svg")
    //img.advantage-image(src="icons/021-free-delivery.svg")