$main_color_grey: #282828
$main_color_green: #05ac9d
$main_color_warning: #ac1205

$wrap: 1326px
$animation_transition: .2s
$shadow: 0 0 15px rgba(0,0,0,0.3)

$gap: 40px
$gap_small: $gap / 2
$gap_small_low: $gap / 3
$gap_small_mid: $gap / 4
$gap_small_max: $gap / 8
$gap_large: $gap * 2


$padding: 20px
$padding_small: $padding / 2
$padding_small_mid: $padding / 3
$padding_small_max: $padding / 4
$padding_large: $padding * 2
$padding_large_mid: $padding * 3


$font_size: 14px
$font_size_large: $font_size + 2
$font_size_large_low: $font_size + 4
$font_size_large_mid: $font_size + 8
$font_size_large_high: $font_size + 16
$title_size: $font_size
$title_size_middle: $font_size * 1.5
$title_size_large: $font_size * 2


$color: $main_color_green
$color_dark: darken($color, 10)
$color_dark_low: darken($color, 13)
$color_dark_mid: darken($color, 15)
$color_dark_high: darken($color, 20)


$color2: $main_color_grey
$color2_dark: darken($color2, 5)
$color2_dark_low: darken($color2, 7)
$color2_dark_mid: darken($color2, 10)
$color2_light: lighten($color2, 30)
$color2_light_low: lighten($color2, 55)
$color2_light_mid: lighten($color2, 80)
$color2_light_high: lighten($color2, 90)


$icon_size: 50px
$icon_size_small: $icon_size / 2
$icon_size_small_mid: $icon_size / 3
$icon_size_small_max: $icon_size / 5
$icon_size_large: $icon_size * 2
$icon_size_large_mid: $icon_size * 3
$icon_size_large_max: $icon_size * 4




