include ../../mixins/panel/panel

+panel('white')
    .products
        .products-header
            h1.products-title Новинки
            a(href="").products-all Посмотреть все
        .products-grid
            include ../product/product
            include ../product/product
            include ../product/product
            include ../product/product
            include ../product/product
            include ../product/product