nav.menu
    each title in ['Межкомнатные двери', 'Стеклянные двери', 'Системы открывания', 'Фурнитура', 'Комплектующий']
        a.menu-link(href="limit:8080")= title
    a.menu-link.menu-link_special(href="limit:8080")
        img.menu-link-logo(src="icons/009-scale.svg")
        | Бесплатный замер