nav.menu
    each title in ['Межкомнатные двери', 'Стеклянные двери', 'Системы открывания', 'Фурнитура', 'Комплектующий']
        a.menu-link(href="/catalog.html")= title
    a.menu-link.menu-link_special(href="/info.html")
        img.menu-link-logo(src="icons/009-scale.svg")
        | Бесплатный замер