@import "../../sass/variables"

.panel
  padding: 40px 0
  
  &_white
    background-color: #fff

  .panel-header
    display: flex
    justify-content: space-between
    align-items: center

    .panel-title
      font-size: 28px

    .panel-all
      color: $color_text_grey
      text-decoration: none
      &:hover
        text-decoration: underline

  .panel-wrap
    width: $size_wrap
    margin: 0 auto