.info
    .info-block
        h4.info-title О нашем магазине
        p.info-text
            | Сайт дверей "ПрофильДорс СПб" - это гарантия качества и выгодных цен. Среди основных преимуществ можно выделить:
            | широкий ассортимент. У нас представлены все модели и актуальные цены на двери
            | привлекательные цены. Возможность купить без посредников по самой низкой цене
            | гарантия качества. Наличие всех сертификатов и гарантийных талонов
            | высокое сервисное обслуживание
            | полный комплекс услуг, от замера проёмов до установки дверей.
    .info-block
        h4.info-title О нашем магазине
        p.info-text.info-text_awards
            img(src="img/rating_4_1.png")
            img(src="img/vybor-polzovatelej.jpg")
    .info-block
        h4.info-title Принимаем к оплате
        p.info-text.info-text_payments
            span.info-payments-system.info-payments-system_mastercard
            span.info-payments-system.info-payments-system_visa
            span.info-payments-system.info-payments-system_yandex
            span.info-payments-system.info-payments-system_sberbank
            span.info-payments-system.info-payments-system_robocassa
            span.info-payments-system.info-payments-system_maestro
