.doorSize
    .doorSize-block
        h4.doorSize-block-title Выберите размер двери
        .doorSize-block-body
            .doorSize-size 2000 x 600
            .doorSize-size 2000 x 700
            .doorSize-size 2000 x 800
            .doorSize-size 2000 x 900
    .doorSize-block
        h4.doorSize-block-title Укажите размер двери
        .doorSize-block-body
            input.door-width(type='text' placeholder="Ширина")
            input.door-height(type='text' placeholder="Высота")
    .doorSize-block
        h4.doorSize-block-title Укажите размер проема
        .doorSize-block-body
            input.door-width(type='text' placeholder="Ширина")
            input.door-height(type='text' placeholder="Высота")