section.advantages
    .advantages-header
        h1.advantages-title Новинки
        a(href="").advantages-all Посмотреть все
    .advantages-grid
        include advantage/advantage
        include advantage/advantage
        include advantage/advantage