include ../../layouts/panel/panel

section.works
    +panel('works-panel', 'Наши работы', '#')
        include ../../components/work/work
        include ../../components/work/work
        include ../../components/work/work