include ../../layouts/wrap/wrap
include ../../layouts/grid/grid
include ../../layouts/title/title

.works
    +wrap
        +title('h1', 'Наши работы', 'Показать все', '/catalog.html')
        +grid
            include ../../components/work/work
            include ../../components/work/work
            include ../../components/work/work
