@import "../../sass/variables"

@mixin panel($className: '', $bgc: transparent, $col: auto, $width: $wrap, $padding: $padding_large 0, $gap: $gap, $justify: space-between, $align: center)
  .panel.panel__#{$className}
    background-color: $bgc

    .panel-wrap
      width: $width
      padding: $padding
      margin: 0 auto
      display: grid
      grid-gap: $gap

      .panel-header
        display: grid
        grid-auto-flow: column
        justify-content: space-between
        align-items: center

        .panel-title
          font-size: $title_size_large

        .panel-all
          color: $font2_color_light
          text-decoration: none
          &:hover
            text-decoration: underline

      .panel-grid
        display: grid
        grid-gap: $gap
        grid-template-columns: repeat($col, auto)
        @if $col == 'auto'
          grid-auto-flow: column
        justify-content: $justify
        align-items: $align

    @content

