@import "../../sass/variables"

@mixin panel($className: '', $bgc: transparent, $col: 1, $width: $size_wrap, $padding: 60px 0, $gap: 0)
  .panel.panel__#{$className}
    background-color: $bgc

    .panel-wrap
      width: $width
      padding: $padding
      margin: 0 auto
      display: grid
      grid-gap: 60px

      .panel-header
        display: grid
        grid-auto-flow: column
        justify-content: space-between
        align-items: center

        .panel-title
          font-size: 28px

        .panel-all
          color: $color_text_grey
          text-decoration: none
          &:hover
            text-decoration: underline

      .panel-grid
        display: grid
        grid-gap: $gap
        @if $col == 'auto'
          grid-auto-flow: column
        @else
          grid-template-columns: repeat($col, auto)
        grid-row-gap: 40px
        justify-content: space-between

    @content

