mixin panel(className, title, link)
    section.panel(class='panel__' + className)
        .panel-wrap
            if title
                .panel-header
                    h1.panel-title #{title}
                    if link
                        a(href=link).panel-all Посмотреть все
            .panel-grid
                block
