.doorColor
    h4.doorColor-title Цветовое решение:
    .doorColor-list
        img.doorColor-img(src='img/itemFilter.jpg')
        img.doorColor-img(src='img/itemFilter.jpg')
        img.doorColor-img(src='img/itemFilter.jpg')