.position
    a.position-link(href="index.html") Главная
    a.position-link(href="catalog.html") Каталог
    a.position-link.position-link_current(href="catalog.html") Входная дверь МеталЮр М9 Темный Орех