@import "../../sass/variables"

.series
  display: grid
  color: $color2_light
  width: 40px
  height: 40px
  border: 2px solid transparent
  text-decoration: none
  align-items: center
  justify-items: center
  transition: $animation_transition
  &:hover
    border-color: $color2
    color: $color2
