@import "../../sass/variables"

.series
  display: inline-block
  color: $font2_color_light
  width: 40px
  line-height: 40px
  border: 2px solid transparent
  text-decoration: none
  vertical-align: middle
  text-align: center
  transition: $animation_transition
  &:hover
    border-color: $font2_color
    color: $font2_color
