include ../../layouts/panel/panel

section.footer
    +panel('footer-top')
        include ../../components/info/info
        include ../../components/contacts/contacts
        include ../../components/map/map
    +panel('footer-bottom')
        p.footer-copyright © Межкомнатные и входные двери от производителя ПрофильДорс СПб
        a.footer-sitemap(href="") Карта сайта