include ../../layouts/wrap/wrap
include ../../layouts/grid/grid

.footer
    .footer-top
        +wrap
            +grid
                include ../../components/info/info
                include ../../components/contacts/contacts
                include ../../components/map/map
    .footer-bottom
        +wrap
            +grid
                p.footer-copyright © Межкомнатные и входные двери от производителя ПрофильДорс СПб
                a.footer-sitemap(href="") Карта сайта