include ../../layouts/panel/panel

section.footer
    +panel('footer-top')
        include ../../components/info/info
        include ../../components/contacts/contacts
        include ../../components/map/map
    +panel('footer-bottom')
        include ../../components/copyright/copyright
