include ../../layouts/title/title

.door
    .door-images
    .door-info
        +title('h1', 'Входная дверь МеталЮр М9 Темный Орех')
        .door-block.door-block_price
            .door-block-body
                .door-price 32 782 ₽
                .door-stock Есть в наличии
        .door-block.door-block_design
            include doorOptions/doorOptions                
        .door-block.door-block_size
            include doorSize/doorSize    
        .door-block
                .door-fitting-size
                .door-fittin-amount
        .door-fittings
            .door-platband

            .door-trim
            .door-hinges
            .door-doorknobs
            .door-wrap
        .door-additionals
            .door-doorsill
            .door-doorstop
        .door-button В корзину
        .door-summury 32 782 ₽





