include ../../layouts/title/title

.door
    .door-images
    .door-info
        +title('h1', 'Входная дверь МеталЮр М9 Темный Орех')
        .door-main
            .door-price 32 782 ₽
            .door-stock Есть в наличии
        .door-colors
            h4.door-info-title Цветовое решение:
            .door-colors-list
                img.door-color(src='img/itemFilter.jpg')
                img.door-color(src='img/itemFilter.jpg')
                img.door-color(src='img/itemFilter.jpg')
        .door-glasses
            h4.door-info-title Варианты остекления:
            .door-glasses-list
                img.door-glass(src='img/itemFilter.jpg')
                img.door-glass(src='img/itemFilter.jpg')
                img.door-glass(src='img/itemFilter.jpg')
        .door-freeMeasurement Бесплатный замер
        .door-sizes
            h4.door-info-title Размеры:
            .door-sizes-block
                .door-sizes-door
                    .door-sizes-exists
                        .door-size 2000 x 600
                        .door-size 2000 x 700
                        .door-size 2000 x 800
                        .door-size 2000 x 900
                    .door-sizes-other
                        input.door-width(type='text' placeholder="Ширина")
                        input.door-height(type='text' placeholder="Высота")
                .door-sizes-doorway
                    input.door-width(type='text' placeholder="Ширина")
                    input.door-height(type='text' placeholder="Высота")

        .door-fittings
            .door-platband
                .door-fitting-size
                .door-fittin-amount
            .door-trim
            .door-hinges
            .door-doorknobs
            .door-wrap
        .door-additionals
            .door-doorsill
            .door-doorstop
        .door-button В корзину
        .door-summury 32 782 ₽





