include ../../layouts/title/title

.sorting
    .sorting-block
        h4.sorting-title Сортировать по:
        .sorting-body
            span.sorting-item.sorting-item_selected Популярности
            span.sorting-item Цене
    .sorting-block
        h4.sorting-title Выводить по:
        .sorting-body
            span.sorting-item.sorting-item_selected 18
            span.sorting-item 36
            span.sorting-item 72
