@import "../../sass/variables"

.product
  position: relative
  display: grid
  grid-gap: $gap_small
  justify-content: center
  padding: $padding
  background-color: $color2_light_high
  border: 1px solid $color2_light_low
  transition: $animation_transition

  &:hover
    box-shadow: $shadow
    border-color: $color2_light_high

  .product-info
    display: grid
    grid-gap: $gap_small
    color: $color2
    text-decoration: none

    .product-series
      position: absolute
      background-color: $color2_light_high
      color: $color2
      left: -8px
      top: -8px
      display: grid
      justify-content: center
      align-content: center
      width: 40px
      height: 40px
      font-weight: bold
      border: 2px solid $color2

    .product-images
      display: grid
      justify-content: center
      align-items: center
      overflow: hidden

      .product-image
        height: 350px
        object-fit: scale-down

    .product-title
      font-weight: bold

  .product-bottom
    display: grid
    grid-auto-flow: column
    justify-content: space-between
    align-items: center


    .product-button
      padding: $padding_small
      background-color: $color
      border: none
      color: $color2_light_high
      font-weight: bold
      text-transform: uppercase
      transition: $animation_transition
      cursor: pointer
      &:hover
        background-color: $color_dark

    .product-price
      font-size: $font_size_large_low
      font-weight: bold






    