section.product
    a(href="").product-info
        //.product-labels
        //    span.product-label.product-label_stock В наличии
        //    span.product-label.product-label_hit Хит продаж
        //    span.product-label.product-label_sale Распродажа
        .product-series AN
        .product-images
            img(src="img/catalog_door.png").product-image
        span.product-title Входная дверь МеталЮр М9 Темный Орех
    .product-bottom
        span.product-price 32 782 ₽
        button.product-button В корзину

