include ../../layouts/wrap/wrap
include ../../layouts/grid/grid
include ../../layouts/title/title
include ../../layouts/text/text

.information
    +wrap
        +grid
            +title('h1', 'Заголовок')
            +text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores beatae commodi culpa cumque eaque eum, exercitationem expedita fugit harum impedit ipsa itaque iure libero necessitatibus nemo nesciunt nihil nobis obcaecati odio possimus quaerat, quibusdam quisquam recusandae rerum similique sint sit tempora totam voluptatem! Ab architecto asperiores, atque doloribus ea illum iure minima modi mollitia officiis repellendus temporibus tenetur vel! Ad adipisci architecto atque, aut blanditiis consequuntur culpa cum deserunt est facilis hic illum impedit inventore iure laborum molestiae nam necessitatibus nihil nisi nulla placeat possimus quaerat quasi qui quis ratione recusandae repellendus sapiente sit suscipit totam veniam vero voluptates!
