@import "../../sass/variables"

.topMenu
  display: grid
  grid-auto-flow: column
  grid-gap: $gap_small
  align-items: center

  a
    text-decoration: none

  .topMenu-link
    color: $font2_color_light
    &:hover
      color: $font2_color
      transition: $animation_transition

