include ../../layouts/wrap/wrap
include ../../layouts/grid/grid

.seriesList
    +wrap
        +grid
            h4.seriesList-title Серия
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series
