include ../../layouts/wrap/wrap
include ../../layouts/grid/grid

.advantages
    +wrap
        +grid
            include ../../components/advantage/advantage
            include ../../components/advantage/advantage
            include ../../components/advantage/advantage
