include ../../layouts/panel/panel

section.advantages
    +panel
        include ../../components/advantage/advantage
        include ../../components/advantage/advantage
        include ../../components/advantage/advantage