mixin filter(className, title)
    section.filter(class='filter__' + className)
        h4.filter-title #{title}
        .filter-body
            .filter-list
                block
            .filter-showAll Показать все
