mixin filterItem(title)
    section.filterItem
        h4.filterItem-title #{title}
        .filterItem-body
            .filterItem-list
                block
            .filterItem-showAll Показать все
