@import '../../sass/variables'

@mixin filterItem
    .filterItem
        display: grid
        grid-gap: $gap_small
        align-content: start
        justify-content: start

        .filterItem-title
            text-transform: uppercase
            cursor: pointer
            transition: $animation_transition
            &:hover
                color: $color2_light

        .filterItem-body
            display: grid
            grid-gap: $gap_small

            .filterItem-list
                display: grid
                grid-gap: $gap_small_mid

            .filterItem-showAll
                color: $color2_light
                cursor: pointer
                transition: $animation_transition
                text-decoration: underline
                text-decoration-style: dashed
                justify-self: start
                &:hover
                    color: $color2_light_low

        @content
