@import "../../sass/variables"

.itemFilter
    display: grid
    grid-auto-flow: column
    grid-gap: $gap_small_max
    justify-content: start
    align-items: center
    cursor: pointer
    &:hover
        .itemFilter-text
            color: $color2_light

    .itemFilter-icon
        width: $icon_size_small
        height: $icon_size_small

    .itemFilter-text

    .itemFilter-summury
        color: $color
