include ../../layouts/panel/panel

section.products
    +panel('products-panel', 'Новинки', '#')
        include ../../components/product/product
        include ../../components/product/product
        include ../../components/product/product
        include ../../components/product/product
        include ../../components/product/product
        include ../../components/product/product