include ../../layouts/panel/panel

<!doctype html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

title #{title}

block scripts
    script(type="module" src='/js/main.js')

block styles
    link(rel="stylesheet" href="styles.css")

</head>
<body>

section.bannerPage
    header
        include ../../blocks/header/header
        +panel('banner')
            include ../../components/banner/banner
        +panel('seriesList')
            h4.seriesList-title Серия
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series
            include ../../components/series/series

    main.content
        block content

    footer
        include ../../blocks/footer/footer

</body>
</html>