header.header
    .header-top
        .header-wrapper
            .topMenu
                ul.topMenu-left
                    each title in ['Двери оптом', 'Доставка', 'Установка', 'Замер', 'Вакансии']
                        li
                            a(href='limit:8080').topMenu-link= title
                ul.topMenu-right
                    li
                        img(src="icons/003-avatar.svg").topMenu-icon
                        a(href="limit:8080").topMenu-link Написать директору
                    li
                        img(src="icons/006-pen.svg").topMenu-icon
                        a(href="limit:8080").topMenu-link Консультация дизайнера
                    li
                        img(src="icons/008-checked.svg").topMenu-icon
                        a(href="limit:8080").topMenu-link Наши работы
                    li
                        img(src="icons/007-placeholder.svg").topMenu-icon
                        a(href="limit:8080").topMenu-link Где купить
    .header-main
        .header-wrapper
            .header-info
                p.header-logo
                    img(src="icons/logo.svg").header-logo-img
                    span.header-logo-info Официальный сайт фирменной сети Профиль Дорс
                p.header-info-item
                    img(src="icons/001-phone-call.svg").header-info-item-logo
                    span.header-info-item-title +7 (812) 209-04-25
                    span.header-info-item-text Единый контактный центр
                p.header-info-item
                    img(src="icons/004-clock.svg").header-info-item-logo
                    span.header-info-item-title ПН - ВС: 10:00 - 20:00
                    span.header-info-item-text Без обеда
            .header-cart
                span.header-cart-text 0 товар(ов)
                img(src="icons/002-shopping-cart-empty-side-view.svg").header-cart-logo
    .header-bottom
        .header-wrapper
            nav.header-menu
                ul
                    each title in ['Межкомнатные двери', 'Стеклянные двери', 'Системы открывания', 'Фурнитура', 'Комплектующий']
                        li
                            a(href="limit:8080").header-menu-link= title
                    li
                        a(href="limit:8080").header-menu-link.header-menu-link_special
                            img(src="icons/009-scale.svg").header-menu-link-logo
                            | Бесплатный замер
            .header-search
                img(src="icons/005-search-interface-symbol.svg").header-search-icon
    .header-banner
        img(src="img/banner1.png").header-banner-img
    .header-series
        .header-wrapper
            ul
                each series in ['L', 'U', 'X', 'XN', 'N', 'STP', 'SMK', 'LK', 'E', 'Z', 'ZN', 'NK', 'STK', 'VG', 'AL', 'AG', 'AGK']
                    li
                        a(href="limit:8080").header-series-link= series