section.additionalMenu
    a.additionalMenu-link(href="/info.html")
        img.additionalMenu-icon(src="icons/003-avatar.svg")
        | Написать директору
    a.additionalMenu-link(href="/info.html")
        img.additionalMenu-icon(src="icons/006-pen.svg")
        | Консультация дизайнера
    a.additionalMenu-link(href="/info.html")
        img.additionalMenu-icon(src="icons/008-checked.svg")
        | Наши работы
    a.additionalMenu-link(href="/info.html")
        img.additionalMenu-icon(src="icons/007-placeholder.svg")
        | Где купить
    a.additionalMenu-link(href="/info.html")
        img.additionalMenu-icon(src="icons/007-placeholder.svg")
        | Где купить