.doorGlass
    h4.doorGlass-title Остекление:
    .doorGlass-list
        img.doorGlass-img(src='img/itemFilter.jpg')
        img.doorGlass-img(src='img/itemFilter.jpg')
        img.doorGlass-img(src='img/itemFilter.jpg')