extends templates/main

block styles
    link(rel="stylesheet" href="/assets/ion-rangeslider-2.3.1/css/ion.rangeSlider.css")

block header
    include blocks/header/header
    include blocks/seriesList/seriesList

block main
    include blocks/path/path
    include blocks/catalog/catalog

block footer
    include blocks/footer/footer
