extends templates/page/page

include layouts/panel/panel

block content
    +panel('catalog', 'Каталог')
        .catalog-filter
        .catalog-list
            include components/product/product
            include components/product/product
            include components/product/product
            include components/product/product
            include components/product/product
            include components/product/product
            include components/product/product
            include components/product/product
            include components/product/product