extends templates/page/page

include layouts/panel/panel

block content
    +panel('catalog', 'Каталог')
        include components/product/product
        include components/product/product
        include components/product/product
        include components/product/product
        include components/product/product
        include components/product/product
        include components/product/product
        include components/product/product
        include components/product/product