include layouts/page/page
include layouts/panel/panel

+page('main page', ['styles.css'])
    include blocks/header/header
    main.content
        include blocks/products/products
        include blocks/advantages/advantages
        include blocks/works/works
    include blocks/footer/footer