extends templates/page/page
include layouts/wrap/wrap
include layouts/grid/grid
include layouts/title/title

block header
    .banner
        +wrap
            +grid
                include components/banner/banner

    .seriesList
        +wrap
            +grid
                h4.seriesList-title Серия
                include components/series/series
                include components/series/series
                include components/series/series
                include components/series/series
                include components/series/series
                include components/series/series
                include components/series/series
                include components/series/series
                include components/series/series
                include components/series/series

block content
    .products
        +wrap
            +title('h1', 'Новинки', 'Показать все', '/catalog.html')
            +grid
                include components/product/product
                include components/product/product
                include components/product/product
                include components/product/product
                include components/product/product
                include components/product/product

    .advantages
        +wrap
            +grid
                include components/advantage/advantage
                include components/advantage/advantage
                include components/advantage/advantage

    .works
        +wrap
            +title('h1', 'Наши работы', 'Показать все', '/catalog.html')
            +grid
                include components/work/work
                include components/work/work
                include components/work/work
