extends templates/main

block header
    include blocks/header/header
    include components/banner/banner
    include blocks/seriesList/seriesList

block main
    include blocks/path/path
    include blocks/novelties/novelties
    include blocks/advantages/advantages
    include blocks/works/works

block footer
    include blocks/footer/footer
