include mixins/page/page
include mixins/panel/panel
include mixins/container/container


+page('main page', ['styles.css'])
    include layouts/header/header
    +panel('products', 'Новинки', '#')
        +container('products')
            include components/product/product
            include components/product/product
            include components/product/product
            include components/product/product
            include components/product/product
            include components/product/product
    +panel
    +panel('white', 'Наши работы', '#')
        include components/result/result
        include components/result/result
        include components/result/result
    include layouts/footer/footer