extends templates/bannerPage/bannerPage

include layouts/panel/panel

block content
    +panel('products', 'Новинки', '#')
        include components/product/product
        include components/product/product
        include components/product/product
        include components/product/product
        include components/product/product
        include components/product/product
    +panel('advantages')
        include components/advantage/advantage
        include components/advantage/advantage
        include components/advantage/advantage
    +panel('works', 'Наши работы', '#')
        include components/work/work
        include components/work/work
        include components/work/work
