extends templates/page/page
include layouts/wrap/wrap
include layouts/grid/grid

block content
    .inform
        +wrap
            +grid
                | На этой странице размещен информационный контент
