extends templates/main

block header
    include blocks/header/header
    include blocks/seriesList/seriesList

block main
    include blocks/information/information

block footer
    include blocks/footer/footer
