extends templates/page/page
include layouts/wrap/wrap
include layouts/grid/grid

block header
    .seriesList
        +wrap
            +grid
                h4.seriesList-title Серия
                include components/series/series
                include components/series/series
                include components/series/series
                include components/series/series
                include components/series/series
                include components/series/series
                include components/series/series
                include components/series/series
                include components/series/series
                include components/series/series

block content
    .inform
        +wrap
            +grid
                | На этой странице размещен информационный контент