extends templates/main

block header
    include blocks/header/header
    include blocks/seriesList/seriesList

block main
    include blocks/path/path
    include blocks/product/product

block footer
    include blocks/footer/footer
