@import "sass/variables"
@import "templates/page/page"
@import "layouts/wrap/wrap"
@import "layouts/grid/grid"
@import "layouts/title/title"
@import "layouts/filterItem/filterItem"

@font-face
    font-family: Roboto
    src: url(fonts/Roboto/Roboto-Regular.ttf)

*
    margin: 0
    padding: 0

body
    font-family: Roboto
    color: $color2

    input
        padding: $padding_small
        color: $color2_light

    h1
        font-size: $font_size_large_high
    h2
        font-size: $font_size_large_mid
    h3
        font-size: $font_size_large_low
    h4
        font-size: $font_size_large

    a
        transition: $animation_transition

    +title

    +page
        .banner
            +wrap($width: 100%)
                +grid
                    @import "components/banner/banner"

        .seriesList
            +wrap($color2_light_high, $padding: $padding_small 0)
                +grid($align: center, $justify: space-between)
                    @import "components/series/series"

        .products
            +wrap($color2_light_high, $padding: $padding_large 0)
                +grid($col: 4)
                    @import "components/product/product"

        .advantages
            +wrap($padding: $padding_large 0)
                +grid($col: 3)
                    @import "components/advantage/advantage"

        .works
            +wrap($color2_light_high, $padding: $padding_large 0)
                +grid($col: 3)
                    @import "components/work/work"

        .inform
            +wrap($color2_light_high, $padding: $padding_large 0)
                +grid

        .catalog
            +wrap($color2_light_high, $padding: $padding_large 0)
                +grid($col: 4)
                    .catalog-filter
                        display: grid
                        grid-gap: $gap
                        align-content: start
                        grid-column-start: 1
                        grid-column-end: 2

                        +filterItem
                            @import "components/priceFilter/priceFilter"
                            @import "components/itemFilter/itemFilter"
                            @import "components/checkboxFilter/checkboxFilter"

                    .catalog-list
                        grid-column-start: 2
                        grid-column-end: 5
                        +grid($col: 3)
                            @import "components/product/product"
