@import "sass/variables"
@import "templates/bannerPage/bannerPage"
@import "layouts/panel/panel"
@import "layouts/filter/filter"

@font-face
    font-family: Roboto
    src: url(fonts/Roboto/Roboto-Regular.ttf)

*
    margin: 0
    padding: 0

body
    font-family: Roboto
    color: $font2_color

    input
        padding: $padding_small
        color: $font2_color_light

    +bannerPage
        +panel('products', $font2_color_light_max, 4)
            @import "components/product/product"
        +panel('advantages', $col: 3)
            @import "components/advantage/advantage"
        +panel('works', $font2_color_light_max, 3)
            @import "components/work/work"
        +panel('inform', $font2_color_light_max)
        +panel('catalog', $font2_color_light_max, 2, $align: stretch)
            .catalog-filter
                width: 250px
                display: grid
                grid-gap: $gap
                border-right: 1px solid $font2_color_light_mid
                padding-right: $padding_large_mid
                align-content: start

                +filter
                    @import "components/priceFilter/priceFilter"
                    @import "components/itemFilter/itemFilter"
                    @import "components/checkboxFilter/checkboxFilter"



            .catalog-list
                display: grid
                grid-template-columns: repeat(3, 1fr)
                grid-gap: 60px
                @import "components/product/product"
