include ../../layouts/filterItem/filterItem

.filter
    +filterItem('Цена')
        include ../../components/priceFilter/priceFilter

    +filterItem('Цвет')
        include ../../components/itemFilter/itemFilter
        include ../../components/itemFilter/itemFilter
        include ../../components/itemFilter/itemFilter
        include ../../components/itemFilter/itemFilter
        include ../../components/itemFilter/itemFilter
        include ../../components/itemFilter/itemFilter
        include ../../components/itemFilter/itemFilter
        include ../../components/itemFilter/itemFilter
        include ../../components/itemFilter/itemFilter
        include ../../components/itemFilter/itemFilter

    +filterItem('Стиль')
        include ../../components/checkboxFilter/checkboxFilter
        include ../../components/checkboxFilter/checkboxFilter
        include ../../components/checkboxFilter/checkboxFilter
        include ../../components/checkboxFilter/checkboxFilter
        include ../../components/checkboxFilter/checkboxFilter
        include ../../components/checkboxFilter/checkboxFilter
        include ../../components/checkboxFilter/checkboxFilter
        include ../../components/checkboxFilter/checkboxFilter
        include ../../components/checkboxFilter/checkboxFilter
        include ../../components/checkboxFilter/checkboxFilter
