include ../../layouts/dropdown/dropdown
include ../../layouts/showAll/showAll

.filter
    +dropdown('Цена', 'noScroll')
        include ../../components/priceFilter/priceFilter

    +dropdown('Цвет')
        +showAll
            include ../../components/itemFilter/itemFilter
            include ../../components/itemFilter/itemFilter
            include ../../components/itemFilter/itemFilter
            include ../../components/itemFilter/itemFilter
            include ../../components/itemFilter/itemFilter
            include ../../components/itemFilter/itemFilter
            include ../../components/itemFilter/itemFilter
            include ../../components/itemFilter/itemFilter
            include ../../components/itemFilter/itemFilter
            include ../../components/itemFilter/itemFilter

    +dropdown('Стиль')
        +showAll
            include ../../components/checkboxFilter/checkboxFilter
            include ../../components/checkboxFilter/checkboxFilter
            include ../../components/checkboxFilter/checkboxFilter
            include ../../components/checkboxFilter/checkboxFilter
            include ../../components/checkboxFilter/checkboxFilter
            include ../../components/checkboxFilter/checkboxFilter
            include ../../components/checkboxFilter/checkboxFilter
            include ../../components/checkboxFilter/checkboxFilter
            include ../../components/checkboxFilter/checkboxFilter
            include ../../components/checkboxFilter/checkboxFilter
