.cartItem
    img.cartItem-image(src="img/work2.jpg")
    span.cartItem-title Входная дверь МеталЮр М9 Темный Орех
    .cartItem-payment
        span.cartItem-price 32 782 ₽
        span.cartItem-amount x 2 шт.
    img.cartItem-delete(src="icons/024-cancel.svg")