.cartItem
    img.cartItem-image(src="img/work2.jpg")
    a.cartItem-link(href="catalog.html") Входная дверь МеталЮр М9 Темный Орех
    .cartItem-payment
        span.cartItem-price 32 782 ₽
        span.cartItem-amount x 2 шт.
    img.svg.cartItem-delete(src="icons/024-cancel.svg")