include ../../layouts/wrap/wrap
include ../../layouts/grid/grid
include ../../layouts/headerInfo/headerInfo

section.header
    .header-top
        +wrap
            +grid
                include ../../components/topMenu/topMenu
                include ../../components/additionalMenu/additionalMenu
    .header-main
        +wrap
            +grid
                include ../../components/logo/logo
                +headerInfo('phone', 'icons/001-phone-call.svg', '+7 (812) 209-04-25', 'Единый контактный центр')
                +headerInfo('worktime', 'icons/004-clock.svg', 'Пн - Вс: 10:00 - 20:00', 'Без обеда')
                +headerInfo('address', 'icons/007-placeholder.svg', 'наб.Газовиков д.4/2', 'Наш магазин')
                include ../../components/cart/cart
    .header-menu
        +wrap
            +grid
                include ../../components/menu/menu
                include ../../components/search/seacrh
