include ../../layouts/panel/panel

.header
    +panel('header-top')
        include ../../components/topMenu/topMenu
        include ../../components/additionalMenu/additionalMenu
    +panel('header-main')
        include ../../components/logo/logo
        include ../../components/phone/phone
        include ../../components/worktime/worktime
        include ../../components/cart/cart
    +panel('header-menu')
        include ../../components/menu/menu
        include ../../components/search/seacrh