include ../../layouts/wrap/wrap
include ../../layouts/grid/grid

section.header
    .header-top
        +wrap
            +grid
                include ../../components/topMenu/topMenu
                include ../../components/additionalMenu/additionalMenu
    .header-main
        +wrap
            +grid
                include ../../components/logo/logo
                include ../../components/phone/phone
                include ../../components/worktime/worktime
                include ../../components/cart/cart
    .header-menu
        +wrap
            +grid
                include ../../components/menu/menu
                include ../../components/search/seacrh
