@import "../../sass/variables"

.contacts
    display: grid
    align-content: start
    grid-gap: $gap

    .contacts-block
        display: grid
        grid-gap: $gap_small

        .contacts-title
            text-transform: uppercase
            color: $font2_color_light_max

        .contacts-body
            display: grid
            grid-gap: $gap_small_mid

            .contacts-item
                display: grid
                grid-auto-flow: column
                grid-gap: $gap_small_mid
                justify-content: start
                align-items: center
                color: $font2_color_light_mid
                text-decoration: none
                &:hover
                    color: $font2_color_light_max

                .contacts-logo
                    width: $icon_size_small_mid
                    height: $icon_size_small_mid

            &_social
                grid-auto-flow: column
                justify-content: start

                .contacts-item
                    justify-content: center
                    background-color: $font2_color_dark
                    width: 35px
                    height: 35px
                    &:hover
                        background-color: $font2_color_dark_mid
                        transition: .2s

                    .contacts-logo
                        width: 20px
                        height: 20px
        &_social
            display: grid
            grid-auto-flow: column



