.contacts
  display: grid
  grid-area: contacts
  align-content: start
  justify-content: start
  grid-gap: 5px 10px
  grid-template-areas: 'logo title' 'text text'

  .contacts-logo
    grid-area: logo
    width: 25px
    height: 25px

  .contacts-title
    grid-area: title
    color: #ffffff
    font-size: 15px
    line-height: 27px

  .contacts-text
    grid-area: text
    color: #828282