.contacts
    .contacts-block
        h4.contacts-title Связь с нами
        .contacts-body
            a.contacts-item(href="")
                img.contacts-logo(src="icons/001-phone-call.svg")
                | +7 (812) 209-04-25
            a.contacts-item(href="")
                img.contacts-logo(src="icons/004-clock.svg")
                | ПН - ВС: 10:00 - 20:00
            a.contacts-item(href="")
                img.contacts-logo(src="icons/010-email.svg")
                | zakaz@profildoors-spb.ru
    .contacts-block
        h4.contacts-title Наши магазины
        .contacts-body
            a.contacts-item(href="")
                img.contacts-logo(src="icons/007-placeholder.svg")
                | м. Московская, Варшавская улица 59, 1 этаж
            a.contacts-item(href="")
                img.contacts-logo(src="icons/007-placeholder.svg")
                | м. Василеостровская, Уральская улица 6, 1 этаж
            a.contacts-item(href="")
                img.contacts-logo(src="icons/007-placeholder.svg")
                | м. Пионерская, Коломяжский проспект 15 к. 1, 2 этаж
            a.contacts-item(href="")
                img.contacts-logo(src="icons/007-placeholder.svg")
                | м. Старая деревня Мебельная улица 2А, 1 этаж 14 секция
            a.contacts-item(href="")
                img.contacts-logo(src="icons/007-placeholder.svg")
                | м. Электросила, Варшавская улица 3 к. 1, 4 этаж, секция 404-II
            a.contacts-item(href="")
                img.contacts-logo(src="icons/007-placeholder.svg")
                | м. Проспект Ветеранов, Маршала Жукова проспект 41, 1 этаж
            a.contacts-item(href="")
                img.contacts-logo(src="icons/007-placeholder.svg")
                | м. Новочеркасская, Заневский проспект 28, 1 этаж
    .contacts-block.contacts-block_social
        .contacts-block
            h4.contacts-title Пишите нам в чат
            .contacts-body.contacts-body_social
                a.contacts-item(href="")
                    img.contacts-logo(src="icons/011-whatsapp.svg")
                a.contacts-item(href="")
                    img.contacts-logo(src="icons/013-telegram.svg")
                a.contacts-item(href="")
                    img.contacts-logo(src="icons/012-viber.svg")
        .contacts-block
            h4.contacts-title Мы в социальных сетях
            .contacts-body.contacts-body_social
                a.contacts-item(href="")
                    img.contacts-logo(src="icons/014-instagram.svg")
                a.contacts-item(href="")
                    img.contacts-logo(src="icons/015-vk.svg")
                a.contacts-item(href="")
                    img.contacts-logo(src="icons/016-facebook.svg")
