footer.footer
    .footer-wrapper
        .footer-top
            .footer-info
                .footer-info-block
                    h4.footer-title О нашем магазине
                    p.footer-info-body
                        | Сайт дверей "ПрофильДорс СПб" - это гарантия качества и выгодных цен. Среди основных преимуществ можно выделить:
                        | широкий ассортимент. У нас представлены все модели и актуальные цены на двери
                        | привлекательные цены. Возможность купить без посредников по самой низкой цене
                        | гарантия качества. Наличие всех сертификатов и гарантийных талонов
                        | высокое сервисное обслуживание
                        | полный комплекс услуг, от замера проёмов до установки дверей.
                .footer-info-block
                    h4.footer-title О нашем магазине
                    p.footer-info-body
                        img(src="img/rating_4_1.png")
                        img(src="img/vybor-polzovatelej.jpg")
            .footer-contacts
                .footer-contacts-block.footer-contacts-block_main
                    .footer-contact
                        img(src="icons/001-phone-call.svg").footer-contact-logo
                        span.footer-contact-text +7 (812) 209-04-25
                    .footer-contact
                        img(src="icons/004-clock.svg").footer-contact-logo
                        span.footer-contact-text ПН - ВС: 10:00 - 20:00
                    .footer-contact
                        img(src="icons/010-email.svg").footer-contact-logo
                        span.footer-contact-text zakaz@profildoors-spb.ru
                .footer-contacts-block.footer-contacts-block_addresses
                    ul
                        li.footer-address
                            img(src="icons/007-placeholder.svg").footer-address-logo
                            a(href="").footer-address-link м. Московская, Варшавская улица 59, 1 этаж
                        li.footer-address
                            img(src="icons/007-placeholder.svg").footer-address-logo
                            a(href="").footer-address-link м. Василеостровская, Уральская улица 6, 1 этаж
                        li.footer-address
                            img(src="icons/007-placeholder.svg").footer-address-logo
                            a(href="").footer-address-link м. Пионерская, Коломяжский проспект 15 к. 1, 2 этаж
                        li.footer-address
                            img(src="icons/007-placeholder.svg").footer-address-logo
                            a(href="").footer-address-link м. Старая деревня Мебельная улица 2А, 1 этаж 14 секция
                        li.footer-address
                            img(src="icons/007-placeholder.svg").footer-address-logo
                            a(href="").footer-address-link м. Электросила, Варшавская улица 3 к. 1, 4 этаж, секция 404-II
                        li.footer-address
                            img(src="icons/007-placeholder.svg").footer-address-logo
                            a(href="").footer-address-link м. Проспект Ветеранов, Маршала Жукова проспект 41, 1 этаж
                        li.footer-address
                            img(src="icons/007-placeholder.svg").footer-address-logo
                            a(href="").footer-address-link м. Новочеркасская, Заневский проспект 28, 1 этаж

                .footer-contacts-block.footer-contacts-block_social
                    .footer-social-block
                        h4.footer-title Пишите нам в чат
                        ul
                            li
                                a(href="").social-link
                                    img(src="icons/011-whatsapp.svg").social-link-icon
                            li
                                a(href="").social-link
                                    img(src="icons/013-telegram.svg").social-link-icon
                            li
                                a(href="").social-link
                                    img(src="icons/012-viber.svg").social-link-icon
                    .footer-social-block
                        h4.footer-title Мы в социальных сетях
                        ul
                            li
                                a(href="").social-link
                                    img(src="icons/014-instagram.svg").social-link-icon
                            li
                                a(href="").social-link
                                    img(src="icons/015-vk.svg").social-link-icon
                            li
                                a(href="").social-link
                                    img(src="icons/016-facebook.svg").social-link-icon
            .footer-map
                img(src="img/map.png")
        .footer-bottom
            .footer-payments
                ul
                    li
                        .footer-payments-system.footer-payments-system_mastercard
                    li
                        .footer-payments-system.footer-payments-system_visa
                    li
                        .footer-payments-system.footer-payments-system_yandex
                    li
                        .footer-payments-system.footer-payments-system_sberbank
                    li
                        .footer-payments-system.footer-payments-system_robocassa
                    li
                        .footer-payments-system.footer-payments-system_maestro
            .footer-additional
                p.footer-additional-copyright
                    | © Межкомнатные и входные двери от производителя ПрофильДорс СПб
                    | Сайт дверей ProfilDoors SPb 2010-2020
                    | Не является публичной офертой
                a(href="").footer-additional-sitemap Карта сайта