@import "../../sass/variables"

.work
  position: relative
  display: grid
  grid-auto-flow: column
  grid-gap: 20px
  padding: 20px
  background-color: #fff
  border: 1px solid #efefef
  transition: .2s

  .work-image
    width: 150px
    height: 250px

  .work-info
    display: grid
    grid-gap: 20px

    .work-series
      position: absolute
      background-color: #fff
      color: $color_bg_main
      left: -8px
      top: -8px
      width: 40px
      height: 40px
      line-height: 40px
      text-align: center
      vertical-align: middle
      font-weight: bold
      border: 2px solid $color_bg_main
      transition: .2s

    .work-button
      justify-self: right
      align-self: end
      padding: 10px 15px
      background-color: $color_main
      border: none
      color: #fff
      font-weight: bold
      text-transform: uppercase
      transition: .2s
      cursor: pointer
      &:hover
        background-color: #176e67