@import "../../sass/variables"

.work
  position: relative
  display: grid
  grid-auto-flow: column
  grid-gap: $gap_small
  padding: $padding
  background-color: $color2_light_high
  border: 1px solid $color2_light_low
  transition: $animation_transition

  .work-image
    width: 150px
    display: grid
    justify-content: center
    align-content: center
    overflow: hidden

  .work-info
    display: grid
    grid-gap: $gap_small

    .work-series
      position: absolute
      background-color: $color2_light_high
      color: $color2
      left: -8px
      top: -8px
      display: grid
      justify-content: center
      align-content: center
      width: 40px
      height: 40px
      font-weight: bold
      border: 2px solid $color2

    .work-button
      justify-self: right
      align-self: end
      padding: $padding_small
      background-color: $color
      border: none
      color: $color2_light_high
      font-weight: bold
      text-transform: uppercase
      transition: $animation_transition
      text-decoration: none
      cursor: pointer
      &:hover
        background-color: $color_dark