section.work
    img.work-image(src="img/work.jpg")
    .work-info
        .work-series E
        h3.work-title Двери PROFILDOORS 7E Манхэттен
        span.work-text
            | Плинтус ИДЕАЛ СИСТЕМА Клен патина
            br
            | Ламинат Kastamonu Floorpan Зигфрид
            | Плинтус ИДЕАЛ СИСТЕМА Клен патина
            br
            | Ламинат Kastamonu Floorpan Зигфрид
        a.work-button(href="/info.html") Подробнее