include ../../layouts/wrap/wrap
include ../../layouts/grid/grid
include ../../layouts/title/title

.product
    +wrap
        +grid
            include ../../components/door/door
            include ../../blocks/novelties/novelties




