.banner
    .banner-wrap
        .banner-descriptions
            .banner-info
                .banner-title Серия AG
                .banner-text Двери серии AG в стиле лофт - главный акцент в итерьере
                a.banner-details(href='catalog.html') Подробнее
            .banner-info
                .banner-title Серия AGK
                .banner-text Алюминевые двери серии AGK функциональный и элегантны
                a.banner-details(href='catalog.html') Подробнее
            .banner-info
                .banner-title Серия E
                .banner-text Современные модели дверей в изысканном интерьере
                a.banner-details(href='catalog.html') Подробнее
            .banner-info
                .banner-title Серия X
                .banner-text Широкий модельный ряд царговых дверей
                a.banner-details(href='catalog.html') Подробнее
        .banner-points
    .banner-background
        .banner-blackout
        .banner-images
            img.banner-img(src="img/bannerAG.jpg")
            img.banner-img(src="img/bannerAGK.jpg")
            img.banner-img(src="img/bannerE.jpg")
            img.banner-img(src="img/bannerX.jpg")
