@import "../../sass/variables"
@import "../../layouts/wrap/wrap"
@import "../../layouts/grid/grid"

@mixin page
    section.page
        display: grid
        grid-auto-flow: row
        grid-gap: $gap_large
        background-color: $color2_light_mid
        font-size: $font_size

        @import "../../blocks/header/header"

        @content

        @import "../../blocks/footer/footer"
