@import "../../sass/variables"
@import "../../layouts/panel/panel"

@mixin bannerPage
    section.bannerPage
        display: grid
        grid-auto-flow: row
        grid-gap: $gap_large
        background-color: $font2_color_light_high
        font-size: $font_size

        +panel('seriesList', $font2_color_light_max, $padding: $padding_small 0)
            @import "../../components/series/series"

        @import "../../blocks/header/header"

        main.content
            @content

        @import "../../blocks/footer/footer"