include ../../layouts/wrap/wrap
include ../../layouts/grid/grid

<!doctype html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

title #{title}

block scripts
    script(type="module" src='/js/main.js')

block styles
    link(rel="stylesheet" href="styles.css")

</head>
<body>

section.page
    header
        include ../../blocks/header/header
        block header

    main
        block content

    footer
        block footer
        include ../../blocks/footer/footer

</body>
</html>